<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error!</title>
</head>
<body>
  <div>
    <h2>Oh! Something is wrong!</h2>
    <div>
        <h4>The page is not available!</h4>
        <img src="Error-404.gif" alt="Error-404" height="350" width="650">
    </div>
    {{> footer}}
  </div>
</body>
</html>