<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show TV form</title>
</head>
<body>
  <div style="padding:20px;display:inline;margin:2%;width:90%; text-align: center;">
    <h1>Welcome to TV show App!</h1>
    <p><a href="/searchTvShow"><h3>searchPage!</h3></a></p>
    <br>
    <p>Enter your show TV name:</p>
    <form action="/saveTvShowName" method="POST">
        <label><input type="text" placeholder="Show Name" name="showName"></label><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    </div>
</body>
</html>